.App {
  text-align: center;
}

img {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

span {
  color: red;
}

.Link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(77, 66, 66);
  font-weight: 800;
  margin: 0 10px;
}

.Link:hover {
  color: red;
}

.logo {
  max-width: 75px;
  max-height: auto;
}

.detailsimage {
  border-radius: 10%;
}

.formikLabel {
  color: rgb(77, 66, 66);
  font-weight: 700;
}

.formikInput {
  width: 200px;
  outline: none;
  font-size: 16px;
  border: 1px solid rgb(77, 66, 66);
  border-radius: 20px;
  padding: 2px;
}
